* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

/* sheare code start here */
.btn {
    outline: none;
    border: none;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid #469165;
    color: #469165;
    background: none;
}

.nav-bar-container {
    margin: 0 120px;
}

/* main code start here */

/* nav-bar design  code start */


.logo {
    cursor: pointer;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.nav-link ul li:hover {
    color: #469165;
}

.nav-link ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.nav-link ul {
    display: flex;
    gap: 32px;
}

/* nav-bar design  code end */

/* hero section design code start */
.hero-container {
    background-image: url("./assets/hero-bg.png");
    padding: 140px 0 180px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 65px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.top-one {
    background-color: white;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 8PX 12PX;
    width: fit-content;
    border-radius: 25px;
}

.top-one span {
    color: #469165;
}

.hero h1 {
    font-size: 72px;
    color: white;
    line-height: 84px;
    margin-bottom: 24px;
    text-transform: capitalize;
}

.hero h1 span {
    color: #469165;
}

.hero p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
    color: white;
}

.button {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.btn-outline {
    outline: none;
    background: none;
    border: none;
    border: 2px solid #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.button .btn-outline:hover {
    background-color: #469165;
    color: #ffffff;
    border: 2px solid #469165;
}

.button .btn {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 2px solid #469165;
}

.button .btn:hover {
    border: 2px solid #469165;
    color: #ffffff;
    background: none;
}

/* hero section design code end */