* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

/* sheare code start here */
.btn {
    outline: none;
    border: none;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid #469165;
    color: #469165;
    background: none;
}

.nav-bar-container,
.card-container,
.second-brain-container,
.bonus-container,
.footer-container {
    margin: 0 120px;
}

/* main code start here */

/* nav-bar design  code start */


.logo {
    cursor: pointer;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.nav-link ul li:hover {
    color: #469165;
}

.nav-link ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.nav-link ul {
    display: flex;
    gap: 32px;
}

/* nav-bar design  code end */

/* hero section design code start */
.hero-container {
    background-image: url("./assets/hero-bg.png");
    padding: 140px 0 180px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 65px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.top-one {
    background-color: white;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 8PX 12PX;
    width: fit-content;
    border-radius: 25px;
}

.top-one span {
    color: #469165;
}

.hero h1 {
    font-size: 72px;
    color: white;
    line-height: 84px;
    margin-bottom: 24px;
    text-transform: capitalize;
}

.hero h1 span {
    color: #469165;
}

.hero p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
    color: white;
}

.button {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.btn-outline {
    outline: none;
    background: none;
    border: none;
    border: 2px solid #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.button .btn-outline:hover {
    background-color: #469165;
    color: #ffffff;
    border: 2px solid #469165;
}

.button .btn {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 2px solid #469165;
}

.button .btn:hover {
    border: 2px solid #469165;
    color: #ffffff;
    background: none;
}

/* hero section design code end */

/* heading section design code start */

.heading-container {
    text-align: center;
}

.heading-container h2 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.heading-container p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 44px;
}

/* heading section design code end */
/* Cards section design code start */

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 120px;
}

.card {
    height: 300px;
    padding: 70px 24px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0px 0 8px #00000050;
}

.card img {
    background-color: #F95555;
    padding: 14px;
    border-radius: 100%;
    margin-bottom: 16px;
    cursor: pointer;
}

.card h5 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    cursor: pointer;
}

.card p {
    font-size: 16px;
    color: #627382;
    width: 275px;
}

/* Cards section design code end */

/* second-brain section design code start */
.second-brain {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.brain-green {
    color: #469165;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 16px;
}

.brain-text h2 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
    line-height: 58px;
}

.brain-app {
    width: 458px;
    color: #627382;
    margin-bottom: 40px;
}

.check {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 16px;
}

.check span {
    font-size: 16px;
    font-weight: 500;
}

/* second-brain section design code end */

/* Bonus section design code start */
.bonus {
    background-color: #F7F6F2;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.bonus-text .btn {
    vertical-align: middle;
    border: 2px solid #469165;
}

.bonus-text .btn:hover {
    background-color: white;

}

.bonus-text .btn i {
    vertical-align: middle;
    margin-left: 10px;
}

.bonus-text {
    padding: 80px 0;
    text-align: center;
}

.bonus h2 {
    font-size: 40px;
    color: #001931;
    margin-bottom: 16px;
}

.bonus .p-tag {
    width: 580px;
    color: #627382;
    margin-bottom: 24px;
}

.bonus .tag {
    margin-top: 16px;
    color: #627382;
}

/* Bonus section design code end */
/* Footer section design code start */
footer {
    background-color: #001931;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px;
}

.footer-logo {
    cursor: pointer;
}

.social-link p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: white;
    margin-bottom: 16px;
}

.icon {
    display: flex;
    gap: 16px;
}

hr {
    border: 1px solid #E5E7EB;
}

.copy {
    color: #FAFAFA;
    padding: 30px 0;
    text-align: center;
    font-size: 16px;
}

/* Footer section design code end */